name: Symfony CI

on:
  push:
    branches:
      - develop

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, xml, ctype, iconv, intl, pdo, pdo_mysql, dom, filter, gd, json
     
      # - name: Copy .env.example to .env
      #   run: cp .env.example .env
      
      - name: Install Composer dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPStan 
        run: vendor/bin/phpstan analyse src

      # - name: Run PHP CS Fixer
      #   run: vendor/bin/php-cs-fixer fix src --dry-run --diff

      - name: Run unit tests
        run: vendor/bin/phpunit